<div class="income-page category-page">
    <h1 class="mb-4">Доходы</h1>
    <div class="income-cards cards row row-cols-2 row-cols-md-3 g-3 pt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Депозиты</h5>
                    <div class="card-buttons d-flex flex-column flex-xl-row">
                        <a href="/categories/income/edit" class="btn card-btn btn-primary mb-2 mb-xl-0 me-xl-3">Редактировать</a>
                        <button class="btn card-btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Депозиты</h5>
                    <div class="card-buttons d-flex flex-column flex-xl-row">
                        <a href="/categories/income/edit" class="btn card-btn btn-primary mb-2 mb-xl-0 me-xl-3">Редактировать</a>
                        <button class="btn card-btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Депозиты</h5>
                    <div class="card-buttons d-flex flex-column flex-xl-row">
                        <a href="/categories/income/edit" class="btn card-btn btn-primary mb-2 mb-xl-0 me-xl-3">Редактировать</a>
                        <button class="btn card-btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Депозиты</h5>
                    <div class="card-buttons d-flex flex-column flex-xl-row">
                        <a href="javascript:void(0);" class="btn card-btn btn-primary mb-2 mb-xl-0 me-xl-3">Редактировать</a>
                        <button class="btn card-btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-plus">
                <a href="/categories/income/create">+</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-sm-4">
                <div class="modal-header border-0 justify-content-center">
                    <h1 class="modal-title text-center lh-sm" id="exampleModalLabel">Вы действительно хотите удалить
                        категорию? Связанные доходы будут удалены навсегда.</h1>
                </div>
                <div class="modal-body pt-1">
                    <button type="button" class="btn btn-success mx-1 py-2 px-3" data-bs-dismiss="modal">Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger mx-1 py-2 px-3">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>